@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

p {
  font-size: 20px;
}

ol,
ul {
  margin-left: 50px;
}
/* 
li {
  margin-bottom: 10px;
} */

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  border-radius: 20px;
}

form {
  text-align: left;
  font-family: "Open Sans", sans-serif !important;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
}

input:focus {
  border-color: #4f20bd;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 32, 189, 0.4);
}

input::placeholder {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

ol,
ul {
  margin-left: 50px;
}
/* 
li {
  margin-bottom: 10px;
} */

img {
  width: 100%;
  border-radius: 20px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

form {
  text-align: left;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  transition: 0.3s;
  margin-bottom: 15px;
}

input:focus {
  border-color: #4f20bd;
  outline: none;
  box-shadow: 0 0 5px rgba(79, 32, 189, 0.4);
}

/* navbar */
.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background-color: #4f20bd;
  color: white;
}

.navbar-logo {
  color: white;
  font-size: 25px;
}

.navbar-links {
  color: white;
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar-item {
  color: white;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 2px solid #4f20bd;
}

.navbar-item:hover {
  border-bottom: 2px solid white;
}

.navbar-item-active {
  color: #a68ae8;
  border-bottom: 2px solid white;
}

/* hero secion */

.heroSection-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
  row-gap: 40px;
  column-gap: 25px;
  padding: 50px 25px;
}

.herosection-heading {
  margin-bottom: 20px;
  color: #4f20bd;
  font-size: 30px;
  font-weight: bold;
}

.navbar-footer {
  text-align: center;
  padding: 25px;

  grid-column: 1 / -1;
  background-color: rgba(240, 236, 255, 0.6);
  border-radius: 10px;
}

/* about section */

.about-container {
  margin: 50px;
  background-color: rgba(240, 236, 255, 0.6);
  padding: 20px;
}

.about-heading {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4f20bd;
  font-size: 30px;
  font-weight: bold;
}

/* sign up */
.signup-container {
  margin: 50px auto;
  border-radius: 15px;
  width: 400px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup-buttons {
  justify-content: space-around;
  border-radius: 15px;
  display: flex;
  padding: 10px;
  font-weight: 600;
}

.signup-buttons button {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 5px;
}

.signup-buttons-active {
  background: #4f20bd;
  color: #fff;
  transform: scale(1.05);
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #4f20bd;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #3b1792;
}

/* login */

.login-container {
  margin: 50px auto;
  border-radius: 15px;
  width: 400px;
  padding: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* footer */
.footer-container {
  font-size: 20px;
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #4f20bd;
}

.container {
  width: 75vw;
  margin: 50px;
  background: #c3b7de;
  border-radius: 12px;
  padding: 20px;
  height: 80vh;
  overflow: auto;
}

.button {
  background-color: #4f20bd;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: green;
}

.button-active {
  background-color: yellow;
}

.btn-accept {
  background-color: #4f20bd;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-accept:hover {
  background-color: green;
}

.btn-delete {
  background-color: #4f20bd;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-delete:hover {
  background-color: red;
}

.btn-active {
  background-color: rgb(189, 189, 1);
}

/* student dashboard container */

.student-dashboard-container {
  background-color: white;
  display: flex;
}

/* sidebar */

.sidebar {
  width: 250px;
  background-color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  height: 100vh;
}

.sidebar a {
  width: 100%;
}

.sidebar-button {
  width: 100%;
  background-color: #4f20bd;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-family: "Open Sans", sans-serif !important;
}

.sidebar-button:hover {
  background-color: #7d64b6;
}

.sidebar-button-active {
  background-color: #7d64b6;
  font-weight: 600;
}

.student-img {
  background-color: white;
  width: 70%;
  margin: 30px;
}

/* search tutor */

.tutor-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  background-color: white;
}